.h{
    text-align: center; background-color: blue;padding: 10px;
    margin-bottom: 20px;
}
.header{
    margin-top: -20px;
    display: flex;
}
.container{
    width: 200px;float: left;position: relative;display: inline;
}
.block{
    background: url(img/Ball\ 1.gif) right repeat-y;background-color: #fff;margin-left:10px ;position: relative;
}
.football{
    text-align: center;
}
.picture{
    float: left;padding: 10px; width: 300px;height: 250px;
}
.text{
    padding: 10px;margin: 0px;
    position: relative;
    
}

.bottom{
    text-align: center;background-color: blue;padding: 10px;position: relative;
}
.img{
    background-color: orange;
    padding: 10px;
    position: relative;
}